pillow==10.2.0
tiktoken>=0.7
python-multipart==0.0.6
aiohttp==3.12.15
asyncio==4.0.0
fastapi==0.116.2
langchain==0.3.27
langchain-community==0.3.29
langchain-core==0.3.76
langchain-openai==0.3.33
langchain-google-genai
langchain-text-splitters==0.3.11
openai==1.108.0
openpyxl==3.1.5
pandas==2.3.2
pyparsing==3.2.4
python-dotenv==1.1.1
requests==2.32.5
uvicorn==0.35.0

